.errorHeader {
  font-weight: 900;
  font-size: 6rem;
  text-align: center;
  background: url(../../Assets/img4.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: translateY(20px);
}

@media screen and (max-width: 660px) {
  .errorHeader {
    font-weight: 900;
    font-size: 5rem;
    transform: translateY(20px);
  }
}

@media screen and (max-width: 460px) {
  .errorHeader {
    font-weight: 900;
    font-size: 4rem;
    transform: translateY(20px);
  }
}

@media screen and (max-width: 360px) {
  .errorHeader {
    font-weight: 900;
    font-size: 3rem;
    transform: translateY(20px);
  }
}
