.uploadsermon-wrapper {
  margin: 10px auto 10px auto;
  padding: 5px;
  width: 90%;
}

.uploadsermon-form-div {
  width: 100%;
}

.sermon-form {
  width: 90%;
  margin: 5px auto;
  padding: 10px;
}

.sermon-form-group {
  width: 100%;
  display: block;
  margin: 10px 0px;
}
.sermon-form .sermon-form-control {
  display: block;
  width: 100%;
  padding: 2px;
  padding-left: 4px;
  outline: none;
  border: 0.5px solid #b6b6b6;
  border-radius: 0px;
  height: 2.3rem;
}

.sermon-form .sermon-form-control:focus {
  border: 0.5px solid var(--darkColor);
  box-shadow: var(--lightShadow);
}

#sermon {
  display: block;
  border-radius: 0px;
  padding: 5px;
  margin: 5px 0px;
}

.uploadsermon-btn {
  display: block;
  border: none;
  margin-top: 20px;
  width: 150px;
  padding: 8px 4px;
  color: var(--whiteColor);
  background: var(--purpleColor);
  box-shadow: var(--darkShadow);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.uploadsermon-btn:hover {
  color: var(--whiteColor);
  background: var(--darkColor);
}
