.change-password-form-wrapper {
  display: flex;
  min-height: 70vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.change-password-heading {
  font-weight: 400;
  text-align: center;
  margin: 20px 0px;
  color: var(--greyColor);
}
.change-password-form-container {
  box-shadow: var(--lightShadow);
  padding: 2px;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  max-width: 800px;
  width: 500px;
  height: 60vh;
  border-radius: 0px;
}

.change-password-form {
  width: 95%;
}

.change-password-form .change-password-form-div {
  width: 100%;
  display: block;
  margin: 12px 0px;
  position: relative;
}

.change-password-form-label {
  display: block;
  margin-bottom: 2px;
}
.change-password-form-control {
  display: block;
  width: 100%;
  padding: 2px;
  padding-left: 10px;
  outline: none;
  border: 0.5px solid #b6b6b6;
  border: 0.5px solid none;
  border-radius: 0px;
  height: 2.5rem;
  width: 100%;
}

.change-password-form-control:focus {
  border: 0.5px solid var(--purpleColor);
  box-shadow: var(--lightShadow);
}

.change-password-btn {
  padding: 7px 10px;
  margin: 5px 0px;
  height: 40px;
  width: 100%;
  color: var(--whiteColor);
  background: var(--purpleColor);
  cursor: pointer;
  border: none;
  border-radius: 0px;
  outline: none;
  transition: all 0.5s ease-in-out;
}

.change-password-btn:hover {
  background: var(--darkColor);
}

@media screen and (max-width: 768px) {
  .change-password-form-container {
    box-shadow: var(--lightShadow);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 95%;
  }

  .form {
    width: 98%;
  }
}

@media screen and (max-width: 330px) {
  .change-password-form {
    width: 98%;
  }
}
