.allsermons-wrapper {
  width: 90%;
  margin: 25px auto 20px auto;
}
.allsermons-heading {
  font-weight: 400;
  text-align: center;
  margin: 4px 0px;
  color: var(--purpleColor);
}
.sermon-table {
  width: 100%;
  border: 0.5px solid #e7e5e5;
  background: none;
  box-shadow: var(--lightShadow);
}

.sermon-table-head {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
}

.sermon-table-head .sermon-table-head-row th {
  padding: 8px 5px;
  background: var(--purpleColor);
  color: var(--whiteColor);
}

.sermon-table-body {
  width: 100%;
}

.sermon-table-body tr td {
  padding: 5px;
  color: var(--greyColor);
  text-align: center;
}

.sermon-table tr:nth-child(even) {
  background: #dadada;
}

.sermon-table tr:nth-child(even) td {
  color: var(--darkColor);
}

.sermon-delete-btn {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 14px;
  padding: 9px 3px;
  cursor: pointer;
  color: var(--whiteColor);
  background: #da1313;
  border: none;
}

@media screen and (max-width: 768px) {
  .allsermons-wrapper {
    width: 98%;
    margin: 25px auto 20px auto;
  }
  .allsermons-heading {
    font-size: 1.3rem;
  }
  .sermon-row {
    overflow-x: scroll;
  }
}
