.testimonies-div {
  width: 90%;
  margin: 25px auto 20px auto;
}
.alltestimonies-heading {
  font-weight: 400;
  text-align: center;
  margin: 4px 0px;
  color: var(--purpleColor);
}
.testimony-table {
  width: 100%;
  padding-bottom: 10px;
  border: 0.5px solid #e7e5e5;
  background: none;
  box-shadow: var(--lightShadow);
}

.testimony-table-head {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
}

.testimony-table-head .testimony-table-head-row th {
  padding: 8px 5px;
  background: var(--greyColor);
  color: var(--whiteColor);
}

.testimony-table-body {
  width: 100%;
}

.testimony-table-body tr td {
  padding: 5px;
  color: var(--greyColor);
  text-align: center;
}

.testimony-table-body tr:nth-child(even) {
  background: #dfdfdfc5;
}

.testimony-table-body tr:nth-child(even) td {
  color: var(--darkColor);
}

.readmore-link {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 14px;
  padding: 9px 3px;
  cursor: pointer;
  color: #810000;
  border: none;
}

.continue {
  background: #005658;
}

.cancel {
  background: #c20000;
}

@media screen and (max-width: 768px) {
  /* .testimonies-div {
    overflow-x: scroll;
  } */
  .testimonies-div {
    width: 100%;
    padding: 0px 2px;
    margin: 25px auto 20px auto;
  }
  .alltestimonies-heading {
    font-size: 1.2rem;
  }
}
