/* html {
  scroll-behavior: smooth;
} */

:root {
  --whiteColor: #ffffff;
  --lightColor: #f0eeee;
  --greyColor: rgba(214, 214, 214, 0.959);
  --darkGrey: #333333;
  --lightGreyColor: #e0e4e6ea;
  --darkColor: rgba(3, 41, 44, 0.788);
  --goldColor: #a8a8a82c;
  --brownColor: rgb(167, 101, 16);
  --lightShadow: 0px 0px 6px #c0bdbdde;
  --darkShadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.692);
}

body {
  /* font-family: "Cormorant Garamond", serif; */
}

.app-container {
  min-height: 88vh;
}

.text-danger {
  font-size: 13px;
  color: #da0505;
}

.pagination {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background: var(--lightColor);
  /* box-shadow: var(--lightShadow); */
}

.pagination-page {
  text-align: center;
  color: var(--whiteColor);
  display: block;
  min-width: 30px;
  margin: 0px 4px;
  /* background: yellow; */
}
.pagination-link {
  text-align: center;
  font-weight: 500;
  color: var(--darkColor);
  outline: none;
  border: none;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0px 5px;
  padding: 10px;
  cursor: pointer;
}

.pagination-previous {
  margin: 0px 3px;
  color: var(--darkColor);
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.pagination-previous-link {
  display: block;
  font-weight: 600;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
.pagination-previous:hover {
  color: var(--whiteColor);
  background: var(--greyColor);
}

.pagination-next {
  margin: 0px 3px;
  color: var(--darkColor);
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.pagination-next-link {
  display: block;
  font-weight: 600;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
.pagination-next:hover {
  color: var(--whiteColor);
  background: var(--greyColor);
}

.pagination-active {
  background: var(--darkColor);
  color: var(--whiteColor);
}
.item-img {
  object-fit: contain;
}
@media screen and (max-width: 768px) {
  .app-container {
    width: 100%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
